ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  .img {
    background-image: url('background-homepage.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  }

  .class1 {
      color: white;
      text-align: center;
      font-size: xx-large;
      font-family: Arial, Helvetica, sans-serif;
      position: absolute;
      top: 25%;
      left: 50%;
      transform: translate(-50%, -50%);
  }

  .img2 {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .footer1 {
      text-align: center;
      margin: 0 auto;
  }

  .footer2 {
      float: left;
  }

  .footer3 {
      float: right;
      text-align: right;
  }

