table {
    border: solid 1pt grey;
    border-spacing: 10pt;
}

td {
    border: solid 1pt grey;
    padding: 30pt;
}

th {
    border: solid 1pt grey;
    background-color: lightgrey;
    padding: 0.75em;
}

header {
    text-align: center;
    font-size: large;
    color: white;
    background-color:darkred;
}